
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 1</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector01">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>

		<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 2</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector02">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>

		<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 3</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector03">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>

		<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 4</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector04">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>

		<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 5</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector05">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>

		<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 6</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector06">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>

		<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 7</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector07">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>

		<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 8</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector08">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>


		<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 9</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector09">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>

	<div class="col-sm-1">
			<table class="table table-condensed">
				<thead>
					<tr>
						<kbd style='background-color:#BAF4FF;color:black;'>Detector 10</kbd>
					</tr>
				</thead>
				 <tbody>
				   	<tr ng-repeat="positioner in dataset.InstrumentDetector10">
						<td>{{positioner.name}}</td>
						<td>				
							<span ng-show="positioner.value != 'None'">
								  {{positioner.value}}
							</span>
							<span ng-show="positioner.value == 'None'">
								  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
							</span> 

						</td>					
					</tr>                                   
				 </tbody>
		      </table>			
		</div>

	</div>
</div>
