
<div class="container-fluid">
	<div class="row">
	   <div class="col-sm-3">
               <kbd style='background-color:#BAF4FF;color:black;'>TAPER</kbd>
	      <table class="table table-condensed">
		<thead>
			<tr>
				<th ng-repeat="positioner in dataset.InstrumentInsertionDeviceTaper">
					{{positioner.name}}
				</th>					
			</tr>
		</thead>
		 <tbody>
		   	<tr>
				<td ng-repeat="positioner in dataset.InstrumentInsertionDeviceTaper">				
					<span ng-show="positioner.value != 'None'">
						  {{positioner.value}}
					</span>
					<span ng-show="positioner.value == 'None'">
						  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
					</span> 

				</td>					
			</tr>                                   
		 </tbody>
	      </table>
	   </div>
 	   <div class="col-sm-3">
               <kbd style='background-color:#BAF4FF;color:black;'>GAP</kbd>
	      <table class="table table-condensed">
		<thead>
			<tr>
				<th ng-repeat="positioner in dataset.InstrumentInsertionDeviceGap">
					{{positioner.name}}
				</th>					
			</tr>
		</thead>
		 <tbody>
		   	<tr>
				<td ng-repeat="positioner in dataset.InstrumentInsertionDeviceGap">				
					<span ng-show="positioner.value != 'None'">
						  {{positioner.value}}
					</span>
					<span ng-show="positioner.value == 'None'">
						  <span style='color:red;' class="glyphicon glyphicon-remove"></span> 
					</span> 

				</td>					
			</tr>                                   
		 </tbody>
	      </table>
	   </div>

	</div>
</div>
