<table class="table table-condensed">
 <tbody>
     <tr>
       <td>Type (Usage)</td>
       <td style='font-weight:bold'>{{dataset.InstrumentMonochromatorCrystal_type}} ({{dataset.InstrumentMonochromatorCrystal_usage}})</td>
    </tr>
    <tr>
       <td>Energy</td>
       <td style='font-weight:bold'>{{dataset.InstrumentMonochromator_energy}}</td>
    </tr>
    <tr>
       <td>Wavelength</td>
       <td style='font-weight:bold'>{{dataset.InstrumentMonochromator_wavelength}}</td>
    </tr>
    <tr>
       <td>d_spacing</td>
       <td style='font-weight:bold'>{{dataset.InstrumentMonochromatorCrystal_d_spacing}}</td>
    </tr>
   <tr>
       <td>Reflection</td>
       <td style='font-weight:bold'>{{dataset.InstrumentMonochromatorCrystal_reflection}}</td>
    </tr>
  
 </tbody>
</table>
