<div class="container-fluid">
	<div class="row">
	   <div class="col-sm-2">
	      <table class="table table-condensed">
		<thead>
			<tr>
				<th colspan="2">Primary</th>					
			</tr>
		</thead>
		 <tbody> 
			<tr><td>Blade Front</td><td>{{dataset.InstrumentSlitPrimary_blade_front}}</td></tr>    
			<tr><td>Blade Back</td><td>{{dataset.InstrumentSlitPrimary_blade_back}}</td></tr>    
		   	<tr><td>Blade Up</td><td>{{dataset.InstrumentSlitPrimary_blade_up}}</td></tr>                                   
		   	<tr><td>Blade Down</td><td>{{dataset.InstrumentSlitPrimary_blade_down}}</td></tr> 
			<tr><td>Horizontal Gap</td><td>{{dataset.InstrumentSlitPrimary_horizontal_gap}}</td></tr> 
			<tr><td>Horizontal Offset</td><td>{{dataset.InstrumentSlitPrimary_horizontal_offset}}</td></tr>                                   
		 </tbody>
	      </table>
	   </div>
 	   <div class="col-sm-2">
	      <table class="table table-condensed">
		<thead>
			<tr>
				<th colspan="2">Secondary</th>					
			</tr>
		</thead>
		 <tbody> 
			<tr><td>Blade Front</td><td>{{dataset.InstrumentSlitSecondary_blade_front}}</td></tr>    
			<tr><td>Blade Back</td><td>{{dataset.InstrumentSlitSecondary_blade_back}}</td></tr>    
		   	<tr><td>Blade Up</td><td>{{dataset.InstrumentSlitSecondary_blade_up}}</td></tr>                                   
		   	<tr><td>Blade Down</td><td>{{dataset.InstrumentSlitSecondary_blade_down}}</td></tr> 
			<tr><td>Horizontal Gap</td><td>{{dataset.InstrumentSlitSecondary_horizontal_gap}}</td></tr> 
			<tr><td>Horizontal Offset</td><td>{{dataset.InstrumentSlitSecondary_horizontal_offset}}</td></tr>                                   
		 </tbody>
	      </table>
	   </div>
 	   <div class="col-sm-8">
	      <table class="table table-condensed">
		<thead>
			<tr>
				<th colspan="2">Slits</th>					
			</tr>
		</thead>
		 <tbody> 
			<tr><td>Blade Front</td><td>{{dataset.InstrumentSlits_blade_front}}</td></tr>    
			<tr><td>Blade Back</td><td>{{dataset.InstrumentSlits_blade_back}}</td></tr>    
		   	<tr><td>Blade Up</td><td>{{dataset.InstrumentSlits_blade_up}}</td></tr>                                   
		   	<tr><td>Blade Down</td><td>{{dataset.InstrumentSlits_blade_down}}</td></tr> 
			<tr><td>Horizontal Gap</td><td>{{dataset.InstrumentSlits_horizontal_gap}}</td></tr> 
			<tr><td>Horizontal Offset</td><td>{{dataset.InstrumentSlits_horizontal_offset}}</td></tr>                                   
		 </tbody>
	      </table>
	   </div>


	</div>
</div>
